/*---------- Stylesheet Algemeen ----------*/

/*---------- Font ----------*/

@font-face {
	font-family: 'Quicksand Light';
	src: url('font/Quicksand_Light.otf') format("opentype");
}

@font-face {
	font-family: 'Quicksand Light Oblique';
	src: url('font/Quicksand_Light_Oblique.otf') format("opentype");
}

/*---------- Algemene tags ----------*/

body{
    font-family: Quicksand Light, sans-serif;
    font-size: 18px;
    margin: 0px;
    background: beige;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.bold{
    font-weight: bold;
}

.content{
    width: 80%;
    background: #FF9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px 0px;
    padding: 20px;
    box-shadow: 0px 0px 5px;
}

.footer{
    width: 100%;
    background: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
    box-shadow: 0px -2px 3px 0px rgba(66,66,66,0.75);
}

.margin_top_0{
    margin-top: 0px;
}

.margin_top_30{
    margin-top: 30px;
}

.margin_top_15{
    margin-top: 20px;
}

.margin_bottom_20{
    margin-bottom: 20px;
}

.margin_top_50{
    margin-top: 50px;
}

.margin_left_30{
    margin-left: 30px;
}

.margin_left_50{
    margin-left: 50px;
}

margin_left_100{
    margin-left: 100px;
}

margin_left_-10{
    margin-left: -10px;
}

.margin_left_40{
    margin-left: 40px;
}

.width_80{
    width: 80%;
}

.width_20{
    width: 20%;
}

.schuingedrukt{
    font-family: Quicksand Light Oblique, sans-serif;
}

.pointer{
    cursor: pointer;
}

.centreer{
    display: flex;
    justify-content: center;
}

.centreer_alles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display_flex{
    display: flex;
}

.onder_elkaar{
    display: flex;
    flex-direction: column;
}

.naast_elkaar{
    display: flex;
    justify-content: space-around;
}

.space_between{
    display: flex;
    justify-content: space-between;
}

.label_hover{
    color: inherit;
    -webkit-transition-duration: 0.2s;
  	transition-duration: 0.2s;
  	-webkit-transition-property: color;
 	transition-property: color;
}

.label_hover:hover{
    color: #DBDBC1;
}

/*---------- Verzendknop ----------*/

.verzendknop {
    background: #e83a3a;
    background: -webkit-linear-gradient(top, #e83a3a,  #b82b2b);
    background: -moz-linear-gradient(top, #e83a3a, #b82b2b);
    background: -ms-linear-gradient(top, #e83a3a, #b82b2b);
    background: -o-linear-gradient(top, #e83a3a, #b82b2b);
    background: linear-gradient(to bottom, #e83a3a, #b82b2b);
    border: 1px solid;
    -webkit-border-radius: 2;
    -moz-border-radius: 2;
    border-radius: 2px;
    -webkit-box-shadow: 0px 2px 5px #666666;
    -moz-box-shadow: 0px 2px 5px #666666;
    box-shadow: 0px 2px 5px #666666;
    font-family: inherit;
    color: #ffffff;
    font-size: 14px;
    padding: 5px 20px 5px 20px;
    margin: 10px 0px;
    text-decoration: none;
    -webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
  	-webkit-transition-property: all;
 	transition-property: all;
}

.verzendknop:hover {
    background: #fc3c3c;
    background: -webkit-linear-gradient(top, #fc3c3c, #ff002b);
    background: -moz-linear-gradient(top, #fc3c3c, #ff002b);
    background: -ms-linear-gradient(top, #fc3c3c, #ff002b);
    background: -o-linear-gradient(top, #fc3c3c, #ff002b);
    background: linear-gradient(to bottom, #fc3c3c, #ff002b);
    text-decoration: none;
    cursor: pointer;
}

/*---------- Homepage ----------*/

.random_user_container{
    display: flex;
    width: 80%;
    height: 100%;
}

.random_user{
    background-color: white;
    height: 400px;
    width: 30%;
    padding: 10px;
    border: solid 1px black;
    border-radius: 2px;
    text-decoration: none;
    color: #6E6E6E;
    font-weight: bold;
}

.random_user:hover{
    cursor: pointer;
    color: black;
}

.home_afb{
    width: 100%;
}

/*----------- Zoeken ----------*/

.zoekform{
    width: 80%;
}

/*----------- Registreren ----------*/

.checkform{
    width: 50%;
}

.vragenlijst{
    list-style: none;
}

/*---------- Merkvoorkeuren ----------*/

.merkform{
    width: 80%;
}

/*----------- Account ----------*/

.account_info{
    padding: 10px;
}

.afbeelding{
    border: solid 1px;
}

/*----------- Error ----------*/

.error{
    color:red;
    margin: 20px 0px;
}